<div class="user-row">
    <div class="user-info">
        <div class="column">
            <div class="username">
                {{ "@" + user.Username }}
            </div>
        </div>
    </div>
    <div class="buttons">
        <div
            *ngIf="enableFollow"
            (click)="unfollowOrFollow(user.ID)"
            class="follow-btn"
        >
            <fa-icon [icon]="followStatus ? faUserPlus : faUserCheck" />

            {{ followStatus ? "Follow" : "Following" }}
        </div>
    </div>
</div>
